<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.memo.post.mapper.PostMapper">

	<select id="selectPostListTest" resultType="map">
		SELECT
			*
		FROM
			`post`
	</select>
	
	<select id="selectPostListByUserId" parameterType="int" resultType="com.memo.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
	</select>
	
	<insert id="insertPost" parameterType="map">
		INSERT INTO `post`
		(
			`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectPostByPostIdUserId" parameterType="map" resultType="com.memo.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`subject`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
			AND `id` = #{postId} <!-- db 안에 postId는 id를 의미 -->
	</select>
	

	<update id="updatePostByPostId" parameterType="map">
		UPDATE `post`
		SET
			`subject` = #{subject}
			, `content` = #{content}
			<if test="imagePath != null">
			, `imagePath` = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{postId} <!-- db 확인해보면 `post`의 PK 는 id -->
	</update>
	
	<delete id="deletePostByPostId" parameterType="int">
	 	DELETE
	 	FROM
	 		`post`
	 	WHERE
	 		`id` = #{postId}
	</delete>
</mapper>


