<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- defaultLayout 파일에서 타임리프만 퍼오기 -->
	<header class="bg-warning" th:fragment="headerFragment">
		<div class="h-100 d-flex justify-content-between align-items-center"> <!-- header와 높이 동일 -->
			<!-- 로고 영역 -->
			<div>
				<h1>MEMO 게시판</h1>
			</div>
			<!-- 로그인 영역 (※화면에 안뿌려질 경우 session input 확인해보기) -->
			<div th:if="${session.userId != null}"> <!-- userId가 null이 아닐때 -->
				<span th:text="${session.userName} + ' 님 안녕하세요.'"></span>
				<a href="/user/sign-out">로그아웃</a>
			</div>
			<div th:unless="${session.userId != null}"> <!-- userId가 null일때 -->
				<a href="/user/sign-in-view">로그인</a>
			</div>
			
		</div>
   	</header>
</html>